AllowShortFunctionsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
IndentWidth: 4
PointerAlignment: Left
SortIncludes: true
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
